.text-warning:hover{
    color: rgb(255, 230, 0) !important;
}

.btn-warning:hover {
    color: rgb(255, 191, 0) !important;
    background-color: white !important;
    border-color: rgb(255, 208, 0) !important;
    border-radius: 0.5rem !important;
    border: 4px solid rgb(255, 225, 0) !important;
}
